.App{
  min-height: 100vh;
  background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);

}


.search-form{
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;

}

.search-bar{
  border: none;

}

.search-button{
  border: none;
}


.ingredients-text, title{
  width:500px;
  word-wrap: break-word;
}

.recipes{
    overflow-y: auto;
}
